{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="mt-[50px]">

    <!-- вывод сладера на главный экран -->
    <!-- {% for slide in slides %}

    <div class="w-20 h-20">

        {% for image in slide.images.all %}
        <img src="{{ image.image.url }}">
        {% endfor %}

    </div>

    {% endfor %} -->
    <!-- вывод сладера на главный экран -->
    <div class="slides flex transition-transform duration-700">
        {% for slide in slides %}

        {% for image in slide.images.all %}

        <div class="relative min-w-full bg-gray-100 flex justify-center items-center aspect-[16/9] sm:aspect-[16/7]">

            <img src="{{ image.image.url }}" class="w-full h-auto sm:h-[500px] md:h-[650px] object-contain">

            <div class="absolute inset-0 flex items-center">
                {{ slide.title }}
                {{ slide.subtitle }}
            </div>

        </div>

        {% endfor %}

        {% endfor %}
    </div>
    <!-- Вывод категорий товара  -->

    {% for c in categories %}

    <li>
        <a href="{{ c.get_absolute_url }}">
            {{ c.name }}
        </a>
    </li>

    {% endfor %}
    <!-- Вывод категорий товара  -->
    <!-- вывод продуктов -->
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.image.url }}" style="width: 300px; height: 300px; object-fit: cover;">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
    </div>
    {% endfor %}
</div>

{% endblock %}





<script>
    const slides = document.querySelector(".slides");
    const totalSlides = slides.children.length;
    let index = 0;

    function showSlide(i) {
        slides.style.transform = `translateX(-${i * 100}%)`;
    }

    // Авто слайд
    setInterval(() => {
        index++;
        if (index >= totalSlides) index = 0;
        showSlide(index);
    }, 5000);
</script>